.HEAD{
    width: 100%;
    height: 40px;
    border: 1px solid red;
}

.HECON{
    width: 50%;
    height: 36px;
    display: inline-block;
    background-color: rgba(138, 136, 136, 0.24);
    margin: 2px 5%;
}

.HECON:first-child{
    width: 15%;
    float: left;
    margin-left: 0px;
}

.HECON:last-child{
    width: 15%;
    float: right;
    margin-right: 0px;
}

.DPSE{
    width: 100%;
    height: 100px;
    border: 1px solid purple;
}

.DPSE > span{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid brown;
    display: inline-block;
}
.DPSE > p{
    width: 100%;
    height: 25px;
    border: 1px solid blue;
}
.WALSE{
    width: 100%;
    height: 200px;
    border: 1px solid violet;
}
.RESE{
    width: 100%;
    height: 40px;
    border: 1px solid blueviolet;
}
.INSE{
    width: 100%;
    height: 40px;
    border: 1px solid blueviolet;    
}